<!DOCTYPE html>
<html>
<head>
  <title>UserManagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="custom-body">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
     <% if current_user.present?%>
       <%= link_to "Logout", destroy_user_session_path, :class=> "pull-right", method: :delete %>
     <% end %>
  </div>
</nav>

<%= yield %>

</body>
</html>
